@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Admin</h1>
    <p>What would you like to manage today?</p>
    <div class="mt-4">
        <a class="btn btn-primary m-2" href="/Cars/Index">Cars</a>
        <a class="btn btn-primary m-2" href="/Dealers/Index">Dealers</a>
        <a class="btn btn-primary m-2" href="/DealerCars/Index">DealerCars</a>
        <a class="btn btn-primary m-2" href="/SalesPersons/Index">SalesPersons</a>
    </div>
</div>
